<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :members, style: "display: block" %>
    <% all_emp = Employee.all %>
    <% all_emp.each do |emp| %>
    <%= check_box_tag 'emp_ids[]', emp-%>
    <%= h emp.name -%>
    <%end%>
  </div>

  <div>
    <% all_emp = Employee.all.map { |e| [e.name] } %>
    <%= form.label :team_lead, style: "display: block" %>
    <%= form.select(:team_lead, options_for_select(all_emp), include_blank: true) %>
  </div>

   <div>
   
    <%= form.label :division_id, style: "display: block" %>
        <%= form.collection_select :division_id, Division.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
