<p style="color: green"><%= notice %></p>

<h1>Teams</h1>
<%= link_to "New team", new_team_path , style: "color: black;" %>

<div id="teams">
  <table class="table ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Members</th>
      <th scope="col">Description</th>
      <th scope="col">Team lead</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td><%= team.members %></td>
        <td><%= team.description %></td>

        <td><%= team.team_lead  %></td>
        <td><button class =  "btn btn-dark"><%= link_to "Edit", edit_team_path(team) %></button>  </td>
        <td><%= button_to "Delete", team, method: :delete, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>