<div id="<%= dom_id employee %>">
  <p>
    <strong><%=t "Name"%>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t "Email"%>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t"Job"%>:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t "Salary"%>:</strong>
    <%= employee.salary %>
  </p>



  <p>
    <strong><%= t "Employment_status"%>:</strong>
    <%= employee.employee_status %>
  </p>

</div>
