<h2><%= t "Employees"%></h2>
<%= link_to t( "New employee"), new_employee_path, style: "color: black;" %>

<div id="employees">
  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t "ID" , default: "ID"%></th>
      <th scope="col"><%= t "Name" , default: "Name"%></th>
      <th scope="col"><%= t "Email", default: "Email"%></th>
      <th scope="col"><%= t "Job", default: "Job"%></th>
      <th scope="col"><%= t "Salary" , default: "Salary"%></th>
      <th scope="col"><%= t "Employment_status", default: "Employment_status"%> </th>
      <th scope="col"><%= t "Team", default: "Team"%></th>
      <th scope="col"><%= t "Division", default: "Division"%></th>
      <th scope="col" ><%= t "Action" , default: "Action"%> </th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td ><%= employee.email %></td>
        <td><%= employee.job %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.employee_status %></td>
        <td>
          <% if Team.find_by(id: employee.team_id) == nil %>
            None 
          <%else%>
              <%= Team.find_by(id: employee.team_id).name %> 
          <%end%>
        </td>
        <td>
         <% if Division.find_by(id: employee.division_id) == nil %>
            None 
          <%else%>
              <%= Division.find_by(id: employee.division_id).name %> 
          <%end%>
        </td>
        
        <td><button class =  "btn btn-dark"><%= link_to t("Edit"), edit_employee_path(employee) %></button> </td>
        <td> <%= button_to t("Delete"), employee, method: :delete, class: "btn btn-danger"%></td>     
      </tr>
    <% end %>
  </tbody>
</table>
</div>