<p style="color: green"><%= notice %></p>

<h1>Employees</h1>
<%= link_to "New employee", new_employee_path, style: "color: black;" %>

<div id="employees">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job</th>
      <th scope="col">Salary</th>
      <th scope="col">Employment_status</th>
      <th scope="col">Team</th>
      <th scope="col">Division</th>
      <th scope="col" >Action  </th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td ><%= employee.email %></td>
        <td><%= employee.job %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.employee_status %></td>
        <td>
          <% if Team.find_by(id: employee.team_id) == nil %>
            None 
          <%else%>
              <%= Team.find_by(id: employee.team_id).name %> 
          <%end%>
        </td>
        <td>
         <% if Division.find_by(id: employee.division_id) == nil %>
            None 
          <%else%>
              <%= Division.find_by(id: employee.division_id).name %> 
          <%end%>
        </td>
        
        <td><button class =  "btn btn-dark"><%= link_to "Edit", edit_employee_path(employee) %></button> </td>
        <td> <%= button_to "Delete", employee, method: :delete, class: "btn btn-danger"%></td>     
      </tr>
    <% end %>
  </tbody>
</table>
</div>