<div id="<%= dom_id target %>">
  <p>
    <strong><%= t "Title"%>:</strong>
    <%= target.title %>
  </p>

  <p>
    <strong><%= t "Description"%>:</strong>
    <%= target.description %>
  </p>

  <p>
    <strong><%= t "Start date"%>:</strong>
    <%= target.start_date %>
  </p>

  <p>
    <strong><%= t "Finish date"%>:</strong>
    <%= target.finish_date %>
  </p>

  <p>
    <strong><%= t "Status"%>:</strong>
    <%= target.status %>
  </p>

</div>
