<p style="color: green"><%= notice %></p>

<h1>Targets</h1>
<%= link_to "New target", new_target_path, style: "color: black;" %>

<div id="targets">
  <table class="table ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date</th>
      <th scope="col">Finish Date</th>
      <th scope="col">Team</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.title %></td>
        <td><%= target.description %></td>
        <td><%= target.start_date %></td>
        <td><%= target.finish_date %></td>
        <td>  <% if Team.find_by(id: target.team_id) == nil %>
            None 
          <%else%>
              <%= Team.find_by(id: target.team_id).name %> 
          <%end%></td>
        <td><%= target.status %></td>
        <td><button class =  "btn btn-dark"><%= link_to "Edit", edit_target_path(target) %> </td>
        <td></button> <%= button_to "Delete", target, method: :delete, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

