
<h2><%=t "Targets"%></h2>
<%= link_to t("New target"), new_target_path, style: "color: black;" %>

<div id="targets">
  <table class="table ">
  <thead>
    <tr>
      <th scope="col"><%= t "Name"%></th>
      <th scope="col"><%= t "Description"%></th>
      <th scope="col"><%= t "Start Date"%></th>
      <th scope="col"><%= t "Finish Date"%></th>
      <th scope="col"><%= t "Team"%></th>
      <th scope="col"><%= t "Status"%></th>
      <th scope="col"><%= t "Action"%></th>
    </tr>
  </thead>
  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.title %></td>
        <td><%= target.description %></td>
        <td><%= target.start_date %></td>
        <td><%= target.finish_date %></td>
        <td>  <% if Team.find_by(id: target.team_id) == nil %>
            None 
          <%else%>
              <%= Team.find_by(id: target.team_id).name %> 
          <%end%></td>
        <td><%= target.status %></td>
        <td><button class =  "btn btn-dark"><%= link_to t("Edit"), edit_target_path(target) %> </td>
        <td></button> <%= button_to t("Delete"), target, method: :delete, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

