<p style="color: green"><%= t notice %></p>
<h2> <%= t "Users", default: "Users"%> </h2>

<%= link_to t("New user"), new_user_path, style:"color:black"%>

<div id="users">
 <table class="table ">
  <thead>
    <tr>
      <th scope="col"><%= t("ID")%></th>
      <th scope="col"><%= t("Name")%></th>
      <th scope="col"><%= t("Email")%></th>
      <th scope="col"><%= t("Sign in count")%></th>
      <th scope="col"><%= t("Current sign in")%></th>
      <th scope="col"><%= t("Last sign in")%></th>
      <th scope="col"><%= t("Action")%></th>
    </tr>

  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      <%emp = Employee.all%>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at.to_fs(:short) %></td>
        <td><%= user.last_sign_in_at.to_fs(:short) %></td>
        

        <td><button class =  "btn btn-dark"><%= link_to t("Edit"), edit_user_path(user) %></button>  </td>
        <td><%= button_to t("Delete"), user, method: :delete, class: "btn btn-danger"%></td>
        <td><button class =  "btn btn-primary"><%= link_to t("Show"), user, style: "color:white;" %></button>  </td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

