<div class="cards">

    <div class="card" style="width: 300px; text-align:center;">
    <div class="card-body">
        <h5 class="card-title"><%= t "Users"%></h5>
        <a href="/users" class="btn btn-light"><%= t "Show"%></a>
    </div>
    </div>

    <div class="card" style="width: 300px; text-align:center;">
    <div class="card-body">
        <h5 class="card-title"><%= t "Employees"%></h5>
        <a href="/employees" class="btn btn-light"><%= t "Show"%></a>
    </div>
    </div>

    <div class="card" style="width: 300px; text-align:center;">
    <div class="card-body">
        <h5 class="card-title"><%= t "Teams"%></h5>
        <a href="/teams" class="btn btn-light"><%= t "Show"%></a>
    </div>
    </div>

    <div class="card" style="width: 300px; text-align:center;">
    <div class="card-body">
        <h5 class="card-title"><%= t "Targets"%></h5>
        <a href="/targets" class="btn btn-light"><%= t "Show"%></a>
    </div>
    </div>

    <div class="card" style="width: 300px; text-align:center;">
    <div class="card-body">
        <h5 class="card-title"><%= t "Divisions"%></h5>
        <a href="/divisions" class="btn btn-light"><%= t "Show"%></a>
    </div>
    </div>
</div>