<!DOCTYPE html>
<html>

<head>
  <title>Wedding Planner</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "HR Admin Platform", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <% if user_signed_in? %>
        <li class="nav-item" style="margin-right:30px; margin-top:5px" >
        Welcome <span style="color:rgb(170, 189, 270)"><%= User.find_by(id: current_user).name %></span>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <%= button_to t('Log out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to t('Sign up'), new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('Log in'), new_user_session_path , class: "nav-link" %>
        </li>
        <% end %>
         <div class="translate" style = "font-size: 20px; margin-left:20px" >
      <%= link_to_unless I18n.locale == :en, "🇺🇸", locale: :en %>
      <%= link_to_unless I18n.locale == :ar, "🇸🇦", locale: :ar%>      
  </div>
      </ul>
    </div>
  </div>
</nav>
<%= render "shared/side_navbar" %>
  <div class="container" style= "margin-left:160px; margin-top:-45%; margin-bottom:30%">  
    <% if flash[:alert] %>
        <div class="alert alert-warning mt-4" role="alert">
          <%= flash[:alert] %>
        </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info mt-4" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger mt-4" role="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
   
    <%= yield %>
  </div>
  <%= render "shared/footer"%>
</body>

</html>
